venv
.venv
.env
__pycache__/
*.pyc
.DS_Store
.idea/
__pycache__/
data/
chroma_db/
ml/mlruns
ml/mlflow.db
mlflow.db
mlartifacts

.pytest_cache/
.mypy_cache/
.ruff_cache/
test.db
terraform/terraform.tfstate
terraform/terraform.tfvars
ml/data/*

.terraform/

*.tfstate
*.tfstate.backup
*.tfstate.lock.info

*.tfvars
*.tfvars.json

*.log

.env
testNER.py
**/terraform/.terraform
**/terraform/.terraform.lock.hcl
terraform/main.tf
terraform/
azure.env