services:
  frontend_app:
    container_name: frontend_app
    build:
      context: ../HR-Pulse-frontend
      dockerfile: Dockerfile
    ports:
      - "${FRONTEND_PORT:-3000}:3000"
    env_file:
      - .env
    environment:
      - NEXT_PUBLIC_BACKEND_URL=http://localhost:${BACKEND_PORT:-8000}
      - BACKEND_URL=http://backend_app:8000
    networks:
      - fullstack-network
    restart: always

  backend_app:
    container_name: backend_app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "${BACKEND_PORT:-8000}:8000"
    env_file:
      - .env
    environment:
      FRONTEND_URL: http://frontend_app:${FRONTEND_INTERNAL_PORT:-3000}
      DATABASE_URL: ${DATABASE_URL}
      SECRET_KEY: ${SECRET_KEY}
    networks:
      - fullstack-network
    restart: always

  database:
    profiles: ["local-db"]
    container_name: database
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: ${DATABASE_PASSWORD:-123456}
      MYSQL_DATABASE: ${DATABASE_NAME:-hr_puls}
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test:
        [
          "CMD",
          "mysqladmin",
          "ping",
          "-h",
          "localhost",
          "-uroot",
          "-p${DATABASE_PASSWORD:-123456}",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - fullstack-network
    restart: always

networks:
  fullstack-network:
    driver: bridge

volumes:
  mysql_data:
    driver: local
