name: Linting

on: [push, pull_request]

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install 3.12

      - name: Run Ruff Linter
        run: uvx ruff check --fix .

      - name: Run Ruff Formatter
        run: uvx ruff format --check .
